################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio files
/.vs
/BackEnd/.vs/

# Ignore build outputs
/BackEnd/bin/
/BackEnd/obj/

node_modules/

# Ignore lock files
FrontEnd/yarn.lock

# Ignore sensitive configuration files
BackEnd/appsettings.json

# Optional: Add a template for appsettings.json
# !BackEnd/appsettings.json.template

.fake
node_modules/
BackEnd/appsettings.json