################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackEnd/.vs/BackEnd
/BackEnd/.vs/ProjectEvaluation
/BackEnd/bin/Debug/net9.0
/BackEnd/obj/
FrontEnd/yarn.lock
BackEnd/appsettings.json
